body {
  font-family: 'Open Sans', Tahoma, Helvetica, sans-serif;
  background-color: #ffffff;
  margin: 0px 0px 20px 0px;
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  /* height: 600px; */
  background-color: #1e1e1e;
  display: block;
  margin: 0;
}

.header__container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 32px;
  user-select: none;
}

header p {
  color: #fff;
  font-size: 22px;
}

h1 {
  margin: 0;
  color: #fff;
  font-size: 80px;
  font-weight: bold;
}

h2 {
  margin: 0;
  font-size: 56px;
}

h3 {
  margin: 0;
  font-size: 48px;
}

h3.bold {
  font-weight: bold;
}

hr {
  display: block;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 90%;
  border: 1px solid rgba(26, 26, 26, 0.2);
}

img {
  height: auto;
}

.center-text {
  text-align: center;
}

.container {
  margin: 0px auto;
  width: 80%;
  max-width: 1200px;
}

.img-responsive {
  max-width: 100%;
}

.section {
  padding-top: 32px;
  padding-bottom: 32px;
}

.section-header {
  padding: 32px 0;
  margin-bottom: 24px;
}

.section-inverse {
  background-color: #171717;
  color: #ffffff;
}

.block-text {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.half-divide {
  width: 50%;
}

.subcontainer1 {
  padding-right: 20px;
}

.subcontainer1 p {
  line-height: 2;
}

.subcontainer2 {
  padding-left: 20px;
}

.subcontainer2 p {
  line-height: 2;
}

.btn {
  padding-top: 50px;
  padding-bottom: 50px;
}

.btn-text {
  text-decoration: none;
  color: #171717;
  padding: 10px 20px 10px 20px;
  border: 3px solid #171717;
  transition-duration: 0.5s;
}

a.btn-text:hover {
  background-color: #171717;
  color: white;
}

.btn-inverse .btn-text {
  border: 3px solid #ffffff;
  color: #ffffff;
}

.btn-inverse a.btn-text:hover {
  background-color: #ffffff;
  color: #000000;
}

.pagecontent__container {
  padding: 64px 0;
}

.pagecontent__container__header {
  margin-bottom: 32px;
}

.aboutme__sectioncontainer {
  background: #ffffff;
}

.aboutme__container {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 48px;
}

.aboutme__container .aboutme__box {
  flex-basis: 33.33%;
  display: flex;
  flex-direction: column;
  padding-left: 8px;
  padding-right: 8px;
}

.aboutme__box:first-child {
  padding-left: 0;
  padding-right: 8px;
}

.aboutme__box:last-child {
  padding-right: 0;
}

.aboutme__box .aboutme__subheading {
  text-align: center;
}

.aboutme__box .aboutme__box__image {
  align-self: center;
  max-width: 56px;
}

.aboutme__contenttitle {
  margin-bottom: 64px;
}

.aboutme__card {
  display: flex;
  flex-direction: column;
  padding: 16px;
  border-radius: 8px;
  min-height: 300px;
  margin-bottom: 24px;
  border: 1px solid #e1e1e1;
  box-shadow: 0px 0px 5px 0px;
  
}

.aboutme__card:hover {
  transition: all 0.5s ease-in;
  cursor: pointer;
  background-image: linear-gradient(0, #dfbd69 1%, #926f34);
  color: #ffffff;
}

.aboutme__iconcontainer {

  text-align: center;
}

.aboutme__icon {
  max-width: 80px;
  align-self: center;
}

.aboutme__header {
  align-self: center;
  flex-grow: 1;
}

.aboutme__card .aboutme__content {
  flex-grow: 1;
}

@media screen and (max-width: 768px) {
  .aboutme__container {
    flex-direction: column;
    justify-content: space-between;
  }
}

.projectspreview__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  margin-bottom: 24px;
}

.projectspreview__container img {
  margin-bottom: 24px;
}

.section-project {
  background-image: repeating-linear-gradient(45deg, transparent, transparent 49px, rgba(225,225,225, 0.7) 50px);
}

.projectcontainer {
  flex-direction: column;
  margin: 40px 0;
  min-height: 400px;
}

@media screen and (min-width: 768px) {
  .projectcontainer {
    flex-direction: row;
  }

  .projectcontainer.projectcontainer-reverse {
    flex-direction: row-reverse;
  }

  .projectcontainer__projectdescriptionbox {
    margin-top: 0;
  }
}

.projectcontainer__name {
  margin-bottom: 24px;
}

.projectcontainer__projectdescriptionbox {
  padding: 0 24px;
  margin-top: 24px;
}

.section-inverse a,
.section-inverse a:hover,
.section-inverse a:visited {
  color: #ffffff;
}

footer {
  margin-top: 24px;
}

.footer-icondisclaimer {
  font-size: 11px;
}

.footer-icondisclaimer a,
.footer-icondisclaimer a:visited,
.footer-icondisclaimer a:hover {
  text-decoration: none;
  color: inherit;
}

#map {
  height: 100%;
}

/* Making Grid */
.flex {
  display: flex;
}

.flex.wrap {
  flex-wrap: wrap;
}

.flex.align-center {
  align-items: center;
}

.flex.justify-space-between {
  justify-content: space-between;
}

.flex-item.col-xs-12 {
  flex-basis: 100%;
  max-width: 100%;
}

/* Grid */
@media screen and (min-width: 768px) {
  .flex-item.col-md-6 {
    flex-basis: 50%;
    max-width: 50%;
  }
  .flex-item.col-md-5 {
    flex-basis: 41.66%;
    max-width: 41.66%;
  }
  .flex-item.col-md-3 {
    flex-basis: 25%;
    max-width: 25%;
  }
  .flex-item.col-md-2 {
    flex-basis: 16.67%;
    max-width: 16.67%;
  }
}