nav {
  position: fixed;
  display: none;
  justify-content: space-between;
  align-items: center;
  top: 0;
  background: white;
  width: 100%;
  box-shadow: 0px 0.1px 6px 1px;
  z-index: 1000;
}

nav ul {
  margin-left: 40px;
  padding: 16px 0;
}

.nav__logocontainer {
  position: relative;
  margin-right: 24px;
  padding: 10px;
}

.nav__logoborder {
  position: absolute;
  background: #171717;
  width: 0;
  height: 0;
}

#nav__logoborder-top {
  top: 0;
  left: 0;
  -webkit-animation: growRight 1s forwards;
  animation: growRight 1s forwards;
}

#nav__logoborder-right {
  top: 0;
  right: 0;
  -webkit-animation: growDown 1s forwards 1s;
  animation: growDown 1s forwards 1s;
}

#nav__logoborder-bottom {
  bottom: 0;
  right: 0;
  -webkit-animation: growLeft 1s forwards 2s;
  animation: growLeft 1s forwards 2s;
}

#nav__logoborder-left {
  bottom: 0;
  left: 0;
  -webkit-animation: growUp 1s forwards 3s;
  animation: growUp 1s forwards 3s;
}

@-webkit-keyframes growRight {
  100% {
    width: 100%;
    height: 1px;
  }
}
@keyframes growRight {
  100% {
    width: 100%;
    height: 1px;
  }
}

@-webkit-keyframes growDown {
  100% {
    height: 100%;
    width: 1px;
  }
}

@keyframes growDown {
  100% {
    height: 100%;
    width: 1px;
  }
}

@-webkit-keyframes growLeft {
  100% {
    height: 1px;
    width: 100%;
  }
}

@keyframes growLeft {
  100% {
    height: 1px;
    width: 100%;
  }
}

@-webkit-keyframes growUp {
  100% {
    height: 100%;
    width: 1px;
  }
}

@keyframes growUp {
  100% {
    height: 100%;
    width: 1px;
  }
}

.nav__logo {
  user-select: none;
  font-size: 32px;
  text-decoration: none;
}

.nav__logo:visited,
.nav__logo:hover {
  color: inherit;
}

.current a {
  border-bottom: 3px solid #171717;
}

nav li {
  display: inline-block;
}

nav ul a {
  text-decoration: none;
  display: block;
  padding: 10px;
  color: #171717;
  border-bottom: 3px solid transparent;
  transition-duration: 0.5s;
}

nav ul a:hover {
  border-bottom: 3px solid #171717;
  text-decoration: none;
}

.hamburger {
  display: none;
  position: fixed;
  background: white;
  padding: 8px;
  top: 16px;
  right: 16px;
  border-radius: 4px;
  z-index: 10001;
}

.hamburger>div {
  width: 35px;
  height: 5px;
  background-color: #171717;
  margin: 6px 0;
}

@media screen and (max-width: 767px) {
  .hamburger {
    display: block;
  }

  nav.nav-mobileshow {
    display: flex;
    height: 100%;
    flex-direction: column-reverse;
    justify-content: flex-end;
  }

  nav.nav-mobileshow .nav__logo {
    margin-top: 24px;
  }

  nav.nav-mobileshow ul {
    margin-left: 40px;
    width: 100%;
  }

  nav.nav-mobileshow li {
    display: block;
  }


}

@media screen and (min-width: 768px) {
  nav {
    display: flex;
  }
}